@page "/AgrRobo"
@using Rob_master.Models;
@using Rob_master.Data;

<h3>Agregar Robo</h3>
<div class="card p-4">
    <h4>Registrar un robo</h4>
    <div class="form-group">
        <label><b>Cedula querellante</b></label>
        <br />
        <input @bind="cedula" class="form-control" placeholder="Example: 40233211958" maxlength="11"/>
    </div>
    <div class="form-group">
        <label><b>Nombre completo</b></label>
        <br />
        <input @bind="nombre" class="form-control" placeholder="Nombre" />
    </div>
    <div class="form-group">
        <label><b>Detalle del robo</b></label>
        <br />
        <input @bind="desc" class="form-control" placeholder="Que se robaron" />
    </div>
    <div class="form-group">
        <label><b>Valor en $RD</b></label>
        <br />
        <input @bind="valor" class="form-control" placeholder="Valor en $RD"  />
    </div>
    <div class="form-group">
        <label><b>Lugar del hecho</b></label>
        <br />
        <input @bind="lugar" class="form-control" placeholder="Lugar del hecho" />
    </div>
    <div class="form-group">
        <label><b>Latitud en decimales</b></label>
        <br />
        <input @bind="lat" class="form-control" placeholder="Latitud" />
    </div>
    <div class="form-group">
        <label><b>Longitud en decimales</b></label>
        <br />
        <input @bind="lon" class="form-control" placeholder="Longitud" />
    </div>
    <br />
    <center>
        <div class="form-group" style="align-content: center">
            <button @onclick="Agregar" class="btn btn-success">Agregar Robo</button>
        </div>
    </center>
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <div>
            <b>@message</b>
        </div>
    </div>
</div>

@code {
    Denuncias querella = new Denuncias();
    robosContext db = new robosContext();
    Dataprocess exe = new Dataprocess();
    string cedula, nombre, desc, lugar, message;
    double? lat, lon, valor;

    public void Agregar()
    {
        try
        {
            message = "";
            querella.Cedula = cedula;
            querella.Nombre = nombre;
            querella.Descripcion = desc;
            querella.Valor = valor;
            querella.Lugar = lugar;
            querella.Latitud = lat;
            querella.Longitud = lon;

            exe.AddRobo(querella);
            message = "Robo agregado con exito";
        }
        catch (Exception)
        {

            message = "No fue posible agregar el registro... asegurese de haber llenado todos los campos y que la cedula no este en el sistema.";
        }

    }
}
